.apply-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-top: 40px;
}
.apply-text{
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(0, 0, 0);
    font-weight: lighter;
}
.slogan-2{
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    color: #F69139;
    font-weight: bold; 
}
.row-1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 40px;
    margin-top: 20px;
}
.box{
    width: 350px;
    height: 190px;
    background-color: rgb(241, 241, 241);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    border-radius: 10px;
    gap: 20px;
}
.circle{
    width: 60px;
    height: 60px;
    background-color: #032D62;
    border-radius: 200px;
}
.text-01{
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
    color: #032D62;
    font-weight: bold; 
}
